.menu {
    margin-top: 1rem;
    border-bottom: $dark-color solid 1px;
    border-top: $dark-color solid 1px;
    ul {
        @include dflex(column,center,center);
        margin: 0;
        padding: 0;
        list-style: none;
    } 
}
@each $page,$title in $pages {
    .menu__option--#{$page}{
        @extend .menu__option;
        & a::after{
            content: "#{$page}";
            text-transform: capitalize;
        }
    }
}
.menu__option{
    width: 100%;
    a{
    display: block;
    padding: 0.8rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
    &:hover{
        box-sizing: border-box;
        text-transform: uppercase;
        background-color: $secondary-color;
        transition: 0.5s;
        }
    }
}

@include mediaQuery-tablet{
    .menu ul {
    flex-direction: row;
    }
    .menu__option{
    width: 20%;
    }
}

@include mediaQuery-desktop{
    .menu{
    margin-top: 0;
    border: none;
    border-right: 1px solid $dark-color;
    ul{
        flex-direction: column;
        }
    }
    .menu__option {
        width: 100%;
        a{  
            font-weight: 700;
            padding: 2rem;
            font-size: 1rem;
        }
    }
}