.menu {
    margin-top: 1rem;
    border-bottom: #373c3f solid 1px;
    border-top: #373c3f solid 1px;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu__option a {
    display: block;
    padding: 0.8rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
  }
  
  .menu__option a:hover{
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: #ee7498;
    transition: 0.5s;
  }
  
  @media (min-width: 700px){
    .menu ul {
      flex-direction: row;
    }
    .menu__option{
      width: 20%;
    }
  }
  
  @media (min-width: 1040px){
    .menu{
      margin-top: 0;
    }
    .menu ul{
      flex-direction: column;
    }
    .menu__option {
      width: 100%;
    }
    .menu {
      border: none;
      border-right: 1px solid #373c3f;
    }
    .menu__option a {
      padding: 2rem;
      font-size: 1rem;
    }
  }
  
  