$primary-color: #b0c4de;
$secondary-color: #ee7498;
$primary-dark-color: rgba(64, 95, 135, 0.74);
$secondary-dark-color:#944d62;
$dark-color:#373c3f;
$main-font-family: "Open Sans", "Helvetica Neue", sans-serif;

$pages:(
    home:"home",
    nosotros:"nosotros",
    reserva:"reserva",
    carta:"Carta Bistro Pedro Da Vigia",
    ubicacion:"ubicacion"
);