::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: lightsteelblue;
}

.grid-container{
  display: grid;
}
@media (min-width: 1040px ){
  .grid-container{
    grid-template-columns: 15rem calc(100% - 15rem);
  }
  .footer{
    grid-column: 1 / 3;
  }
  .header__logo{
    border-right: 1px solid #373c3f;
  }
}

/*------------------------------------HEADER------------------------------------------*/
.header__logo{
  height: 10rem;
}

.header__titulo{
  position: relative;
  overflow: hidden;
}
@keyframes desplazamiento {
  100%{
    transform: translateX(calc(100vw + 10rem));
  }
}

.header__titulo:hover> .linea{
  animation-duration: 1.5s;
  animation-name: desplazamiento;
  animation-iteration-count: infinite;
}

.linea{
  position: absolute;
  bottom: 50%;
  left: -10rem;
  height: 2px;
  width: 10rem;
  background-image: linear-gradient(to right , lightsteelblue , #ee7498);
  transition: all 1s;
}

.header__titulo h1 {
  font-weight: normal;
  color: #373c3f;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: #ee7498 1px 2px;
}


@media (min-width: 700px){
  .header__logo, .header__titulo {
  height: 10rem;
}
  .header__titulo h1{
    font-size: 3rem;
  }
  .header__titulo h3{
    font-size: 1rem;
  }
}


/*------------------------------------NAV------------------------------------------*/
.menu {
  margin-top: 1rem;
  border-bottom: #373c3f solid 1px;
  border-top: #373c3f solid 1px;
}
.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__option a {
  display: block;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.menu__option a:hover{
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #ee7498;
  transition: 0.5s;
}

@media (min-width: 700px){
  .menu ul {
    flex-direction: row;
  }
  .menu__option{
    width: 20%;
  }
}

@media (min-width: 1040px){
  .menu{
    margin-top: 0;
  }
  .menu ul{
    flex-direction: column;
  }
  .menu__option {
    width: 100%;
  }
  .menu {
    border: none;
    border-right: 1px solid #373c3f;
  }
  .menu__option a {
    padding: 2rem;
    font-size: 1rem;
  }
}


/*------------------------------------MAIN------------------------------------------*/

.main {
  min-height: calc(100vh - 30rem);
}
.container {
  display: grid;
  gap: 0.5rem;
  width: 95%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: #373c3f 2px solid;
  box-shadow: 10px 10px 12px 4px rgba(64, 95, 135, 0.74);
  -webkit-box-shadow: 10px 10px 12px 4px rgba(64, 95, 135, 0.74);
  -moz-box-shadow: 10px 10px 12px 4px rgba(64, 95, 135, 0.74);
}

.main__content {
  padding: 0.2rem;
  border-radius: 0.5rem;
  box-shadow: #373c3f 2px 2px;
  background-color: rgba(64, 95, 135, 0.74);
}

.main__video {
  margin: 0 auto;
  height: 20rem;
  width: 100%;
}
.main__video:hover{
  transform: scale(1.2);
  transition: all 1s;
}

.main__text{
  text-align: justify;
}

@media (min-width: 700px){
  .main__text p{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .container{
    width: 80%;
  }
}
@media screen and (min-width: 1040px){
  .main{
    min-height: calc(100vh - 16rem);

  }
  .main__video{
    width: 80%;
  }
}
/*------------------------------------FOOTER------------------------------------------*/
.footer {
  min-height: 4rem;
  border-top: #373c3f 1px solid;
  background-color: rgba(64, 95, 135, 0.74);
}

/*------------------------------------CARTA------------------------------------------*/
.container--carta{
  padding: 0.5rem;
}
.tabla .row{
  margin: 0;
  border: none;
  width: 100%;
  border-collapse: collapse;
}
.tabla__elemento{
  padding: 0.5rem;
  font-size:smaller;
  line-height: 1rem;
  border: rgba(64, 95, 135, 1) 1px solid;
  background-color: aliceblue;
}

.tabla__titulo{
  text-shadow: #ee7498 1px 1px;
}

@media (min-width: 700px){
  .tabla__elemento{
    font-size: small;
  }
}
@media (min-width: 1040px){
  .tabla__elemento{
    padding: 1rem;
    font-size:medium;
    line-height: 1.5rem;
  }
}

/*------------------------------------RESERVA------------------------------------------*/
.main__form{
  justify-self: center;
}
.main__field {
  background-color: aliceblue;
  margin: 0.5rem;
  padding: 1rem;
}

.main__field input,
select,
textarea {
  border: rgba(64, 95, 135, 0.74) solid 2px;
}
.main__field textarea {
  height: 5rem;
}
.main__button {
  border: none;
  background-color: #ee7498;
  margin: 0.5rem;
  padding: 1rem;
}
.main__button:hover {
  background-color: #944d62;
  color: aliceblue;
}
/*------------------------------------UBICACION------------------------------------------*/

.main__map{
  width: 100%;
  height: 20rem;
}

@media (min-width: 700px) {
  .main__map{
    width: 60%;
  }
}